.nested-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  background-color: var(--bg-color, transparent);

  /* Main grid */
  background-image: linear-gradient(
      var(--main-grid-color) var(--main-grid-width),
      transparent var(--main-grid-width)
    ),
    linear-gradient(
      90deg,
      var(--main-grid-color) var(--main-grid-width),
      transparent var(--main-grid-width)
    );
  background-size: var(--main-grid-size) var(--main-grid-size);

  /* Sub grid */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        var(--sub-grid-color) var(--sub-grid-width),
        transparent var(--sub-grid-width)
      ),
      linear-gradient(
        90deg,
        var(--sub-grid-color) var(--sub-grid-width),
        transparent var(--sub-grid-width)
      );
    background-size: var(--sub-grid-size) var(--sub-grid-size);
    pointer-events: none;
  }
}
