@import "tailwindcss";

@theme {
  --color-primary: #313338;
  --color-primary-dark: #1d4ed8;
  --color-primary-light: #93c5fd;

  --color-bg-primary: #313338;
  --color-bg-secondary: #9c47f1;
  --color-bg-hover: #7830c0;
  --color-bg-card: #3a3c56;

  --color-text-primary: #f8fafc;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #64748b;

  --color-border: #475569;
  --color-border-light: #64748b;

  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg-primary);
}
